

	/*********/
	/* GENERAL */
	/*********/


	body {
	  font-family: 'Arial', sans-serif;
		height: 100%;
		background-color: white;
	}

	/*  Modifs gabarit pri  */

	#n2g_zone_milieu{
		margin-top: 0;
	}

	#n2g_zone_centre{
		padding-left: 0;
		padding-right: 0;
		width: 978px !important;
		float:none;
		height: auto !important;
	}

	a{
	  text-decoration: underline;
	}


	/*  RESPONSIVE GRID SYSTEM  */

	/*  SECTIONS  */
	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 5%;
	}
	.col:first-child { margin-left: 0; }

	/*  GROUPING  */
	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	/*  GRID OF FOUR  */

	.span_1_of_4 {
		width: 21.25%;
	}

	.span_1_of_2 {
		width: 50%;
	}




	/*Bandeau*/

	#bandeau{
	  position: relative;
	  text-align: left;
	  width: 978px;
	  height: 380px;
	  background: url('../images/maldives_theme_desktop.jpg') no-repeat;
	}

	#bandeau .intro{
	  display: inline-block;
		text-align: left;
	  margin: 52px 0 0 453px;
	  font-size: 23px;
	  color: #ffffff;
		text-transform: uppercase;
	}

	#bandeau .intro span{
	  display: block;
		margin-bottom:20px;
	}

	#bandeau .intro span.strong{
		font-weight: 600;
	}

	#bandeau .intro span.m1{
		margin-left: 46px;
	}

	#bandeau .intro span.m2{
		font-size: 20px;
	}

	#bandeau .intro span.m3{
		margin-left: 115px;
	}




	#message, #notice, #cadeaux {background: #fff7f1;}

	/*Message*/

	#message{
		padding: 40px 60px 20px 40px;
		text-align: center;
	}

	#message h1{
		display: inline;
		font-weight: 300;
		font-size: 20px;
		line-height: 33px;
	}

	#message a{
		color: #211c1a;
		font-size: 14px;
		display: inline-block;
		margin-left: 10px;
	}

	/*Notice*/

	#notice{
		padding: 20px 60px 30px 60px;
		text-align: center;
	}

	#notice .layer{
		width: 600px;
		height: 104px;
		border:1px solid #b1aaa7;
		margin: auto;
		position: relative;
	}

	#notice .layer h2{
		display: inline-block;
		position: relative;
		top: -23px;
		*top:-10px;
		width: auto;
		*width: 430px;
		font-weight: 300;
		padding: 0 12px;
		background: #fff7f1;
		text-transform: uppercase;
		font-size: 17px;
	}

	#notice .layer .formule{
		position: relative;
		top:-10px;
		margin: auto;
		background: #976;
		width: auto;
		/* height: 500px */
	}

	#notice .layer .element{
		float:left;
		width: 46%;
		color: #2c70b1;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
	}

		#notice .layer .element span{
		font-size: 13px;
		font-weight: 300;
		line-height: 23px;
}

	#notice .layer .element.equal{
		width: 8%;
		font-size: 30px;
	}

	#notice .layer .element:last-child{
		position: relative;
		top:5px;
	}

	#notice .clear{
		clear: both;
	}


	/*Cadeaux*/

	#cadeaux{
		padding: 20px 70px 30px 70px;
		text-align: center;
	}




	#cadeaux .col img{
		width: 75px;
		height: 75px;
	}

	#cadeaux .col p{
		margin-top: 20px;
		font-size: 16px;
		line-height: 22px;
	}


	/*Avantages*/

	#avantages {
		padding: 0;
		background: #36383f;
	}

	#avantages .col {
		margin: 0% 0 0% 0%;
		margin-bottom:1px;
		height:400px;
	}

	#avantages .zone_euro{
		background: #efebea;
	}

	#avantages .assurance{
		background: #eae5e4;
	}

	#avantages .col .content{
		margin:60px 95px;
		text-align: center;
	}

	#avantages .col .content h1{
		text-transform: uppercase;
		font-weight: 300;
		font-size: 17px;
		letter-spacing: 7px;
		line-height: 30px;
	}

	#avantages .col .content h1 sup{
		letter-spacing: normal;
		font-size: 10px;
	}

	#avantages .col .content hr {
		 display: block;
		 position: relative;
		 padding: 0;
		 margin: 25px auto;
		 height: 0;
		 width: 15%;
		 max-height: 0;
		 font-size: 1px;
		 line-height: 0;
		 clear: both;
		 border: none;
		 border-top: 1px solid #ffffff;
		 border-bottom: 1px solid #ffffff;
	}

	#avantages .col .content p {
		color: #333333;
		font-size: 16px;
		line-height: 30px;
	}

	#avantages .col .content p sup{
		font-size: 10px;
	}

	#avantages .col.assurance .content p{
		font-size: 17px;
		line-height: 34px;
	}

	#avantages .col.assurance .content img{
		margin-top: 20px;
		margin-bottom: 5px;
	}


	/*Simulation*/

	#simulation{
		position: relative;
		background: #36383f;
		padding: 30px;
		color: #ffffff;
	}

	#simulation a {
		text-decoration: none;
	}

	#simulation h2{
		text-transform: uppercase;
		font-size: 19px;
		font-weight: 300;
		margin: 0;
	}

	#simulation p{
		font-size: 15px;
		font-weight: 300;
		margin-bottom: 0px;
	}

	#simulation p sup{
		font-size: 10px;
	}


	#simulation .btn{
	  position: relative;
	  display: block;
	  margin: auto;
		font-weight: 600;
	  font-size: 16px;
	  padding: 15px 0;
	  font-weight: 400;
	  border-radius: 3px;
	}

	#simulation .btn.simulation{
	  text-decoration: initial;
	  text-transform: uppercase;
		position: absolute;
		right: 30px;
		top: 36px;
		text-align: center;
	  width: 240px;
	  color: #ffffff;
	  background: #25b3c6;
	  line-height: 21px;
	  border: none;
	  border-bottom: 2px solid #228d9b;
	  transition: background 0.2s;
	}

	#simulation .btn.simulation:hover{
	  background: #1594a5;
	  transition: background 0.2s;
	}


	/*Mentions légales*/

	#mentions_legales {
	  padding: 30px;
		font-size: 14px;
	  color: #888888;
		background: #ffffff;
	}

	#mentions_legales a{
	  color: #666666;
	}

	#mentions_legales .mentions{
		counter-reset: mention_count;
	  margin-bottom: 0;
	}

	#mentions_legales .mentions dt {
		position: relative;
	  padding: 0px 0 7px 0;
	  padding-left: 30px;
	  line-height: 20px;
	}

	#mentions_legales .mentions dt.last {
	  margin-bottom: 0;
	}

	#mentions_legales .mentions dt:before {
			content: '('counter(mention_count)')';
	    counter-increment: mention_count;
	    position: absolute;
	    left: 0;
	    top: 0;
	    font-size: 14px;
	}

	#mentions_legales p{
	  margin: 0;
	  padding: 0;
	}
