/* STYLE DES NUMEROS SPECIAUX PRESENTS DANS LES MENTIONS LEGALES SUR L'ENSEMBLE DU SITE PRI */




/***********  WEBCALL BACK ************/

.n2g_wcb2011_container .n2g_wcb2011_header {
    height: 42px;
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-top.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_header.n2g_wcb2011_mrh_header {
     background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-top-devis.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_section {
    height: 83px;
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-middle.jpg);
}

        .n2g_wcb2011_container .n2g_wcb2011_votre_numero {
            position: absolute;
            height: 20px;
            width: 90px;
            left: 25px;
            top: 85px;

        }

        .n2g_wcb2011_container .n2g_wcb2011_votre_numero input {
            border: 1px solid #15aad5;
            width: 98px;
            height: 19px;
        }

        .n2g_wcb2011_container .n2g_wcb2011_btn {
            position: absolute;
            height: 23px;
            width: 26px;
            left: 125px;
            top: 85px;
        }

      .n2g_wcb2011_container .n2g_wcb2011_3955 {
            height: 61px;
            text-indent: -100000px;
        }


/*********** DIFFERENT TYPE DE WEBCALL BACK ************/
.n2g_wcb2011_container .n2g_wcb2011_3955_option {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-option.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_alterna {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-alterna.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_epargne {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-epargne.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_cartes {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-cartes.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_plus {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-plus.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_livret_a {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-livret-a.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_solidaire {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-solidaire.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_expresso {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-expresso.jpg);
}


.n2g_wcb2011_container .n2g_wcb2011_3955_assurance {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-assurance.jpg);
}

.n2g_wcb2011_container .n2g_wcb2011_3955_somusic {
    background-image: url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/08-Webcallback_2011/wcb-2015/img/n2g-wcb-bottom-somusic.jpg);
}


/********** MENTIONS LEGALES **********/

.nums-sva {
    padding: 6px 19px;
    font-weight: bold;
    color: #8c2570;
    font-size: 12px;
    display:inline-block;
    margin-left:4px;

}


.numeros-sva-05{background-image:url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/20-numeros-sva/img/numeros-sva-05.jpg); background-repeat:no-repeat;width:205px}
.numeros-sva-10{background-image:url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/20-numeros-sva/img/numeros-sva-10.jpg); background-repeat:no-repeat;width:205px}
.numeros-sva-15{background-image:url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/20-numeros-sva/img/numeros-sva-15.jpg); background-repeat:no-repeat;width:205px;}
.numeros-sva-30{background-image:url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/20-numeros-sva/img/numeros-sva-30.jpg); background-repeat:no-repeat;width:205px;}
.numeros-sva-30-mini {background-image:url(https://static.societegenerale.fr/pri/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/02-Modules/20-numeros-sva/img/numeros-sva-30-mini.jpg); background-repeat:no-repeat;padding: 6px 7px;width:118px;
}



/* Numero Gris */
.numfreemini{background-image:url(img/p357-numeros-speciaux-bg-gray-tel-free.jpg); background-repeat:no-repeat;}







/************/
/* LA DUREE */
/************/


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}

.col3 {
	display: block;
	float:left;
	margin: 1% 0 1% 4%;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 50%;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65.33%; }
.span_1_of_3 { width: 28%; }



a{
  text-decoration: underline;
}


#n2g_zone_milieu{
  margin-top: 0;
}

#page_expresso{
  font-family: 'Arial', sans-serif;
}


#hero{
  position: relative;
  text-align: center;
  width: 978px;
  height: 363px;
  background: url('../images/laduree_theme.jpg') #c2dfdf no-repeat;
}

#hero .theme_right{
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 382px;
  background: url('../images/laduree_theme_right.png') no-repeat;
}

#hero h1{
  display: inline-block;
  /* background: #845  ; */
  font-weight: 300;
  margin: auto;
  margin-top: 180px;
  width: auto;
  font-size: 19px;
  line-height: 34px;
  color: #224547;
}

#hero h1 sup{
  font-size: 12px;
}


#services{
  background: #e5f1f1;
  padding: 30px 18px;
  text-align: center;
  color: #333333;
}

#services a{
  color: #666666;
}

#services h2{
  text-align: center;
  font-size: 19px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

#services .section{
  margin-top: 20px;
}


#services h3{
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}

#services h3 sup{
  font-size: 10px;
}

#services p{
  font-size: 14px;
  line-height: 21px;
}

#services p.download{
  margin: 0;
}

#cartes{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  height: 430px;
  background: url('../images/cartes_border.png') #c2dfe0 no-repeat ;
}

#cartes .collection{
  padding-top: 30px;
}

#cartes img{
  display: block;
  margin: auto;
}

#cartes .collection p{
  font-size: 16px;
  display: block;
  margin-top: 20px;
}

#cartes .collection p sup{
  font-size: 10px;
}

.btn{
  position: relative;
  display: block;
  margin: auto;
  font-size: 16px;
  padding: 10px 0;
  font-weight: 400;
  border-radius: 3px;
}

.btn.souscrire{
  text-decoration: initial;
  text-transform: uppercase;
  width: 240px;
  color: #ffffff;
  background: #c54166;
  line-height: 21px;
  border: none;
  border-bottom: 2px solid #783b31;
  transition: background 0.2s;
}

.btn.souscrire:hover{
  background: #b13a5c;
  border-bottom: 2px solid #662d24;
  transition: background 0.3s;
}

#cartes .section{
  margin: auto;
}

#cartes .tirage{
  color: #414d4f;
  font-size: 14px;
  line-height: 30px;
}

#cartes .tirage p{
  margin-bottom: 20px;
}

#cartes .tirage sup{
  font-size: 10px;
}

#cartes .tirage span{
  font-weight:500;
  text-transform: uppercase;
}

#cartes .tirage a{
  font-size: 12px;
  color: #414d4f;
}

#cadeau{
  position: relative;
  text-align: center;
  height: 181px;
  color: #372e2d;
  background: url('../images/cadeau_theme.jpg') #fdfced right no-repeat;
}

#cadeau .message{
  display: inline-block;
  position: relative;
  margin: auto;
  width: 520px;
  margin-top: 40px;
  margin-left: 40px;
  text-align: left;
}

#cadeau .message h2{
  font-size: 22px;
  margin: 0;
  font-weight: 300;
}

#cadeau .message p{
  font-size: 19px;
  line-height: 30px;
}

#cadeau .message p sup{
  font-size: 10px;
}

#cadeau .theme_left{
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 190px;
  height: 201px;
  background: url('../images/cadeau_porte_carte.png') no-repeat;
}



#mentions_legales {
  padding: 30px;
	font-size: 14px;
  color: #888888;
}


#mentions_legales a{
  color: #666666;
}

#mentions_legales .mentions{
	counter-reset: mention_count;
  margin-bottom: 0;
}

#mentions_legales .mentions dt {
	position: relative;
  padding: 0px 0 7px 0;
  padding-left: 30px;
  line-height: 20px;
}

#mentions_legales .mentions dt.last {
  margin-bottom: 0;
}


#mentions_legales .mentions dt:before{
	content: '('counter(mention_count)')';
    counter-increment: mention_count;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
}

#mentions_legales p{
  margin: 0;
  padding: 0;
}
